.quantityinput{padding:2px 2px; text-align:center; border:0px solid #ccc;  background:#fff; width:28px;font-size:14px}
.quantitybtn .sign{padding:7px 2px; width:20px; text-align:center; cursor:pointer; font-weight:bold; outline:none; }
.quantitybtn .plus{background:#f44336; border:1px solid #f44336; color:#fff; border-radius:5px 0px 0px 5px;}
.quantitybtn .minus{background:#009688; border:1px solid #009688; color:#fff; border-radius:0px 5px 5px 0px;}

b
{
	color:black;
}