<ion-header class="ion-no-border">
<ion-toolbar color="light">
<ion-buttons slot="start">
<ion-back-button></ion-back-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content *ngIf="text && setting">

<div style="height: 80px;background-color:#f4f5f8">
&nbsp;
</div>

<div style="height: auto;margin-top: -20%;border-radius: 30px;background-color: white" class="ion-padding">

<h1 align="center">{{ text.signup_title }}</h1>
<p align="center">{{ text.signup_desc }}</p>
<br>

<form #form="ngForm" (ngSubmit)="signup(form.value)">

<ion-item>
  <ion-label position="floating">{{ text.signup_name }}</ion-label>
  <ion-input type="text" ngModel name="name" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">{{ text.signup_phone }}</ion-label>
  <ion-input type="tel" ngModel name="phone" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">{{ text.signup_email }}</ion-label>
  <ion-input type="email" ngModel name="email" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">{{ text.rcode }}</ion-label>
  <ion-input type="text" ngModel name="rcode"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">{{ text.signup_password }}</ion-label>
  <ion-input type="password" ngModel name="password" required></ion-input>
</ion-item>

<ion-item class="ion-text-wrap" >
    <ion-label>i agree with <a href="{{ setting.term }}" target="_blank">Terms & Conditions</a></ion-label>
    <ion-checkbox slot="start" (ionChange)="term()"></ion-checkbox>
  </ion-item>

<br><br>
<ion-button expand="block" mode="ios" type="submit" [disabled]="!form.valid || !hasTerm">{{ text.signup_btn }}</ion-button>

</form>
</div>
</ion-content>
