<ion-header class="ion-no-border">
<ion-toolbar color="light">
<ion-buttons slot="start">
<ion-back-button></ion-back-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content *ngIf="text">

<!--Display loading-->
<ion-list id="skeleton" *ngIf="search">
<ion-list-header>
<ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
</ion-list-header>

<ion-item *ngFor="let fake of fakeData">
<ion-thumbnail slot="start">
<ion-skeleton-text></ion-skeleton-text>
</ion-thumbnail>
<ion-label>
<h3>
<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
</h3>
<p>
<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</p>
<p>
<ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
</p>
</ion-label>
</ion-item>

</ion-list>

<div style="height: 80px;background-color:#f4f5f8">

</div>

<div style="height: auto;margin-top: -20%;border-radius: 30px;background-color: white">

<br>
<h3 style="padding: 10px 15px">{{ text.search_title }}</h3>

<ion-searchbar mode="ios" [(ngModel)]="q" placeholder="{{ text.search }}"></ion-searchbar>

<ion-list *ngIf="q && q.length > 2 && !data">
<ion-list-header>Search result for <b>&nbsp;{{ q }}</b></ion-list-header>

<ion-item *ngFor="let s of store | tagFilter:q" detail (click)="searchPage(s)">
<ion-thumbnail slot="start">
    <img src="{{ s.img }}" style="border-radius: 6px">
  </ion-thumbnail>
<ion-label>{{ s.name }}</ion-label>
</ion-item>

</ion-list>

<div style="background-color: #f4f5f8" *ngIf="data && data.length > 0">

<h4 style="padding: 10px 10px">All store that deliver {{ searchQ }}</h4>

<ion-row *ngFor="let store of data" (click)="item(store)" style="background-color: white;padding: 0px 10px;margin-bottom: 2%">
<ion-col size="6"><img src="{{ store.img }}" style="border-radius: 10px">
<ion-badge style="position: absolute;z-index: 99;top:0px;left:0px" *ngIf="store.rating > 0">{{ store.rating }} <ion-icon name="star"></ion-icon></ion-badge>
</ion-col>

<ion-col size="6">

<ion-row>

<ion-col size="12" style="color:black;font-weight: bold">{{ store.name }}</ion-col>
<ion-col size="12" style="margin-top: -5%"><small style="color:#a9a9a9">{{ store.address }}</small></ion-col>
<ion-col size="12" *ngIf="!store.open" style="display: none;"><small style="color:red">{{ text.store_close }}</small></ion-col>

</ion-row>

</ion-col>
</ion-row>
</div>


<div *ngIf="trend && trend.length > 0" class="ion-padding">
<p><ion-icon name="trending-up"></ion-icon> {{ text.trend_search }}</p>

<ion-chip *ngFor="let t of trend" routerLink="/item/{{ t.id }}" routerDirection="forward" color="danger">{{ t.name }}</ion-chip>
</div>
</div>

</ion-content>
