.welcomeHeader
{
    height: 200px
}

.homeHeader
{
	background-color: var(--ion-color-light);
	color:white;
	height:140px;
}

.storeType
{
	background-color: #f47720;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 10px 10px;
	color: white;
}

ion-footer ion-icon
{
	font-size: 28px;
}

ion-footer small
{
	font-size: 11px;
}

.act
{
	color:#f47720;
}
